header img {
	float: left;
	margin-top: 44px;
	margin-left: 100px;
	margin-right: 50px;
}

header a {
 	color: white;
 	text-decoration: none;
 	font-family: "SourceSansPro", sans-serif;
 	padding: 0px;
 	margin-left: 0px;
 	margin-right: 25px;
 	font-size: 12px;
	margin-top: 33px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

header .home {
	border-bottom: 3px solid white;
}

.login {
	vertical-align: top;
	display: inline-block;
	float: right;
	margin-right: 80px;
}

.login .signup {
	color: #1A3AC7;
	background-color: white;
	border-radius: 3px;
	padding: 15px 30px;
	font-weight: bold;
	margin-top: 20px;
}

article {
	color: white;
	font-family: "SourceSansPro", sans-serif;
	font-size: 62px;
	margin-top: 100px;
	margin-left: 100px;
}

article p {
	font-size: 15px;
}

article img {
	margin-top: 30px;
}

article .dot, article .dot1 {
	height: 13px;
	width: 13px;
	background-color: #4677FF;
	border-radius: 50%;
	display: inline-block;
	margin-right: 25px;
	margin-top: 130px;
}

article .dot1 {
	margin-top: 5px;
	border: 5px solid;
	border-color: #FFB600;
	background-color: #0043ff;
}

.dot {
	margin-bottom: 5px;
}

body {
	background: url(front_page_PNG.png);
	background-repeat: no-repeat;
	background-size: cover;
}