img {
	margin-left: 60px;
	margin-right: 35px;
	width: 140px;
}

nav a {
	color: white;
	margin-right: 25px;
	margin-left: 15px;
	font-size: 13px;
	margin-top: 35px;
	display: inline-block;
}


.home {
	border-bottom: 3px solid white;
}

ul {
	margin-right: 10%;
}

article {
	color: white;
	font-family: sans-serif;
	font-size: 5.9vw;
	margin-top: 80px;
	margin-left: 100px;
}

article p {
	font-size: 2.4vmin;
	font-family: "SourceSansLight", sans-serif;
}

article .create {
	color: white;
 	text-decoration: none;
 	font-family: sans-serif;
	text-align: top;
	display: inline-block;
	vertical-align: top;
	background-color: #ff5969;
	border-radius: 6px;
	padding: 15px 25px 15px 25px;
	font-size: 10px;
}

article .dot, article .dot1 {
	height: 16px;
	width: 16px;
	background-color: #4677FF;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
	margin-top: 50px;
	vertical-align: right;
}

article .dot1 {
	border: 3px solid;
	border-color: #FFB600;
	background-color: #0043ff;
}

body {
	background: url(front_page_PNG.png);
	background-repeat: no-repeat;
	background-size: cover;
}


@font-face {
    font-family: 'SourceSansLight';
    src: url('sourcesanspro-light-webfont.woff2') format('woff2'),
         url('sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.nav-pills .nav-link.active {
    background-color: #ffffff!important;
	color: blue!important;
	font-weight: bold;
}

.nav>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-pills{
    width:100%;
}