header img{
	float: left;
	margin-top: 44px;
	margin-left: 100px;
	margin-right: 50px;
}

header a{
 	color: white;
 	text-decoration: none;
 	font-family: sans-serif;
 	padding: 0px;
 	margin-left: 15px;
 	margin-right: 15px;
 	font-size: 15px;
	margin-top: 66px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

header .home{
	border-bottom: 3px solid white;
}

.login{
	vertical-align: top;
	display: inline-block;
	float: right;
	margin-right: 80px;
}

.login .signup{
	color: #1A3AC7;
	background-color: white;
	border-radius: 3px;
	padding: 20px 40px 20px 40px;
	margin-top: 46px;
	font-weight: bold;
}

article{
	color: white;
	font-family: sans-serif;
	font-size: 80px;
	margin-top: 100px;
	margin-left: 100px;
}

article p{
	font-size: 20px;
	font-family: "SourceSansLight", sans-serif;
}

article img{
	margin-top: 30px;
}

article .button{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 15px;
	background-color: #ff5969;
	border-radius: 10px;
	padding: 25px;
}

article .dot, article .dot1{
	height: 13px;
	width: 13px;
	background-color: #4677FF;
	border-radius: 50%;
	display: inline-block;
	margin-right: 25px;
}

article .dot1{
	margin-top: 5px;
	border: 5px solid;
	border-color: #FFB600;
	background-color: #0043ff;
}

.dot{
	margin-bottom: 5px;
}

body {
	background: url(front_page_PNG.png);
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face {
    font-family: 'SourceSansLight';
    src: url('sourcesanspro-light-webfont.woff2') format('woff2'),
         url('sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}