img {
	margin-top: -5px;
	margin-left: 60px;
	margin-right: 35px;
}

nav a {
	color: white;
	margin-right: 25px;
	font-size: 13px;
	margin-top: 35px;
	display: inline-block;
}

.home{
	border-bottom: 3px solid white;
}

.templates{
	border-bottom: 3px solid white;
}

.pricing{
	border-bottom: 3px solid white;
}

.products{
	border-bottom: 3px solid white;
}

#meniu a:hover{
	color: white;
	text-decoration: none;
	border-bottom: 3px solid white;
}

.signin{
	color: white;
	font-size: 13px;
	margin-top: 25px;
}

.signin:hover{
	color: white;
	text-decoration: none;
}

article {
	color: white;
	font-family: sans-serif;
	font-size: 5.9vw;
	margin-top: 80px;
	margin-left: 100px;
}

article p {
	font-size: 2.4vmin;
	font-family: "SourceSansLight", sans-serif;
}

article .create {
	color: white;
 	text-decoration: none;
 	font-family: sans-serif;
	background-color: #ff5969;
	border-radius: 6px;
	padding: 15px 25px;
	font-size: 10px;
}

.home{
	border-bottom: 3px solid white;
}

article .dot {
	margin-bottom: 1px;
	height: 16px;
	width: 16px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.9;
}

article .dot:hover {
	height: 20px;
	width: 20px;
	border: 3px solid;
	border-color: #FFB600;
	background-color: white;
}

body {
	background: url(front_page_PNG.png);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face {
    font-family: 'SourceSansLight';
    src: url('sourcesanspro-light-webfont.woff2') format('woff2'),
    url('sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav-pills{
    width:89%;
}

.signup {
	background-color: white;
	color: blue;
	font-weight: bold;
	margin-top: 22px;
	font-size: 12px;
	padding: 12px 27px;
	border: none;
}

.signup:hover {
	background-color: blue;
	color: white;
}

.tekstolaukas {
	background-color: white;
	color: black;
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 50px;
	border-radius: 25px;
	padding: 20px;
	background-color: rgba(255, 255, 255, .8);
}

.column img {
	margin-top: 40px;
	vertical-align: middle;
	width: 35%;
}

.laukas {
	color: black;
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 50px;
}


